.form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  align-items: center;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2em;
  padding: 2em;
  width: 50%;
}

mat-form-field {
  width: 50%;
}

.btn-primary {
  margin-top: 2em;
}
